<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Your PDF</title>
  </head>
  <body>
    <div class="jumbotron text-center">
      <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3"><strong>Your List of Contacts....</strong></h1>
        <hr>
        <div class="row">
          <%  usersWithSecrets.array.forEach(function(x){ %>
            <div class="col-md-4">
              <h3>Name: <%=x.name%></h3>
              <h3>Contact No: <%=x.phone%></h3>
              <h3>Email :<%=x.email%></h3>
              <hr />
            </div>
          <%  }) %>
        </div>
      </div>
    </div>
  </body>
</html>
