<%- include('partials/header') %>

<!-- AK -->
<div>
  <script> swal("SUCCESSFULLY REGISTERED!", "You have successfully created a new account !\n      Please Login to continue", "success")</script>
</div>
<!-- AK -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <!-- <h1 class="display-4">Successfully Registered!</h1> -->
    <p class="lead">You have Created new account.</p>
    <p class="lead">Please Login to continue !!</p>
  </div>
</div>

<%- include('partials/footer') %>
